.title{
    margin: auto;
    width: 600px;
    text-align: center;
}

#footerText{
     text-align: center;
     font-weight: bold;
}

#gridContainer{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: 0;
    border: 4px solid black;
    width: 480px;
    height: 480px;
}

.gridCell{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 30px;
    height: 30px;
}

#gameContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.controlButton{
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
    height: 40px;
}

#gameControls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 480px;
}

#rightSpacing{
    width: 240px;
    height: 480px;
    margin: 0;
    padding: 0;
}
